<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>A</string>
		<array>
			<string>阿尔巴尼亚</string>
			<string>AL</string>
			<string>355</string>
		</array>
		<array>
			<string>阿尔及利亚</string>
			<string>DZ</string>
			<string>213</string>
		</array>
		<array>
			<string>阿富汗</string>
			<string>AF</string>
			<string>93</string>
		</array>
		<array>
			<string>阿根廷</string>
			<string>AR</string>
			<string>54</string>
		</array>
		<array>
			<string>阿拉伯联合酋长国</string>
			<string>AE</string>
			<string>971</string>
		</array>
		<array>
			<string>阿鲁巴岛</string>
			<string>AW</string>
			<string>297</string>
		</array>
		<array>
			<string>阿曼</string>
			<string>OM</string>
			<string>968</string>
		</array>
		<array>
			<string>阿塞拜疆</string>
			<string>AZ</string>
			<string>994</string>
		</array>
		<array>
			<string>埃及</string>
			<string>EG</string>
			<string>20</string>
		</array>
		<array>
			<string>埃塞俄比亚</string>
			<string>ET</string>
			<string>251</string>
		</array>
		<array>
			<string>爱尔兰</string>
			<string>IE</string>
			<string>353</string>
		</array>
		<array>
			<string>爱沙尼亚</string>
			<string>EE</string>
			<string>372</string>
		</array>
		<array>
			<string>安道尔</string>
			<string>AD</string>
			<string>376</string>
		</array>
		<array>
			<string>安哥拉</string>
			<string>AO</string>
			<string>244</string>
		</array>
		<array>
			<string>安圭拉岛</string>
			<string>AI</string>
			<string>1264</string>
		</array>
		<array>
			<string>安提瓜和巴布达</string>
			<string>AG</string>
			<string>1268</string>
		</array>
		<array>
			<string>奥地利</string>
			<string>AT</string>
			<string>43</string>
		</array>
		<array>
			<string>澳大利亚</string>
			<string>AU</string>
			<string>61</string>
		</array>
		<array>
			<string>澳门</string>
			<string>MO</string>
			<string>853</string>
		</array>
	</array>
	<array>
		<string>B</string>
		<array>
			<string>巴巴多斯</string>
			<string>BB</string>
			<string>1246</string>
		</array>
		<array>
			<string>巴布亚新几内亚</string>
			<string>PG</string>
			<string>675</string>
		</array>
		<array>
			<string>巴哈马群岛</string>
			<string>BS</string>
			<string>1242</string>
		</array>
		<array>
			<string>巴拉圭</string>
			<string>PY</string>
			<string>595</string>
		</array>
		<array>
			<string>巴林</string>
			<string>BH</string>
			<string>973</string>
		</array>
		<array>
			<string>巴拿马</string>
			<string>PA</string>
			<string>507</string>
		</array>
		<array>
			<string>巴西</string>
			<string>BR</string>
			<string>55</string>
		</array>
		<array>
			<string>白俄罗斯</string>
			<string>BY</string>
			<string>375</string>
		</array>
		<array>
			<string>百慕大群岛</string>
			<string>BM</string>
			<string>1441</string>
		</array>
		<array>
			<string>保加利亚</string>
			<string>BG</string>
			<string>359</string>
		</array>
		<array>
			<string>贝宁</string>
			<string>BJ</string>
			<string>229</string>
		</array>
		<array>
			<string>比利时</string>
			<string>BE</string>
			<string>32</string>
		</array>
		<array>
			<string>冰岛</string>
			<string>IS</string>
			<string>354</string>
		</array>
		<array>
			<string>波多黎各</string>
			<string>PR</string>
			<string>1787</string>
		</array>
		<array>
			<string>波兰</string>
			<string>PL</string>
			<string>48</string>
		</array>
		<array>
			<string>波斯尼亚和黑塞哥维那</string>
			<string>BA</string>
			<string>387</string>
		</array>
		<array>
			<string>玻利维亚</string>
			<string>BO</string>
			<string>591</string>
		</array>
		<array>
			<string>伯利兹</string>
			<string>BZ</string>
			<string>501</string>
		</array>
		<array>
			<string>博茨瓦纳</string>
			<string>BW</string>
			<string>267</string>
		</array>
		<array>
			<string>不丹</string>
			<string>BT</string>
			<string>975</string>
		</array>
		<array>
			<string>布基纳法索</string>
			<string>BF</string>
			<string>226</string>
		</array>
		<array>
			<string>布隆迪</string>
			<string>BI</string>
			<string>257</string>
		</array>
	</array>
	<array>
		<string>C</string>
		<array>
			<string>朝鲜</string>
			<string>KP</string>
			<string>850</string>
		</array>
		<array>
			<string>赤道几内亚</string>
			<string>GQ</string>
			<string>240</string>
		</array>
	</array>
	<array>
		<string>D</string>
		<array>
			<string>丹麦</string>
			<string>DK</string>
			<string>45</string>
		</array>
		<array>
			<string>德国</string>
			<string>DE</string>
			<string>49</string>
		</array>
		<array>
			<string>东帝汶</string>
			<string>TL</string>
			<string>670</string>
		</array>
		<array>
			<string>多哥</string>
			<string>TG</string>
			<string>228</string>
		</array>
		<array>
			<string>多米尼加共和国</string>
			<string>DO</string>
			<string>1890</string>
		</array>
		<array>
			<string>多米尼克</string>
			<string>DM</string>
			<string>1767</string>
		</array>
	</array>
	<array>
		<string>E</string>
		<array>
			<string>俄罗斯</string>
			<string>RU</string>
			<string>7</string>
		</array>
		<array>
			<string>厄瓜多尔</string>
			<string>EC</string>
			<string>593</string>
		</array>
	</array>
	<array>
		<string>F</string>
		<array>
			<string>法国</string>
			<string>FR</string>
			<string>33</string>
		</array>
		<array>
			<string>法罗群岛</string>
			<string>FO</string>
			<string>298</string>
		</array>
		<array>
			<string>法属波利尼西亚</string>
			<string>PF</string>
			<string>689</string>
		</array>
		<array>
			<string>法属圭亚那</string>
			<string>GF</string>
			<string>594</string>
		</array>
		<array>
			<string>菲律宾</string>
			<string>PH</string>
			<string>63</string>
		</array>
		<array>
			<string>斐济</string>
			<string>FJ</string>
			<string>679</string>
		</array>
		<array>
			<string>芬兰</string>
			<string>FI</string>
			<string>358</string>
		</array>
		<array>
			<string>佛得角</string>
			<string>CV</string>
			<string>238</string>
		</array>
	</array>
	<array>
		<string>G</string>
		<array>
			<string>冈比亚</string>
			<string>GM</string>
			<string>220</string>
		</array>
		<array>
			<string>刚果共和国</string>
			<string>CG</string>
			<string>242</string>
		</array>
		<array>
			<string>刚果民主共和国</string>
			<string>CD</string>
			<string>243</string>
		</array>
		<array>
			<string>哥伦比亚</string>
			<string>CO</string>
			<string>57</string>
		</array>
		<array>
			<string>哥斯达黎加</string>
			<string>CR</string>
			<string>506</string>
		</array>
		<array>
			<string>格林纳达</string>
			<string>GD</string>
			<string>1809</string>
		</array>
		<array>
			<string>格陵兰岛</string>
			<string>GL</string>
			<string>299</string>
		</array>
		<array>
			<string>格鲁吉亚</string>
			<string>GE</string>
			<string>995</string>
		</array>
		<array>
			<string>古巴</string>
			<string>CU</string>
			<string>53</string>
		</array>
		<array>
			<string>瓜德罗普岛</string>
			<string>GP</string>
			<string>590</string>
		</array>
		<array>
			<string>关岛</string>
			<string>GU</string>
			<string>671</string>
		</array>
		<array>
			<string>圭亚那</string>
			<string>GY</string>
			<string>592</string>
		</array>
	</array>
	<array>
		<string>H</string>
		<array>
			<string>哈萨克斯坦</string>
			<string>KZ</string>
			<string>7</string>
		</array>
		<array>
			<string>海地</string>
			<string>HT</string>
			<string>509</string>
		</array>
		<array>
			<string>韩国</string>
			<string>KR</string>
			<string>82</string>
		</array>
		<array>
			<string>荷兰</string>
			<string>NL</string>
			<string>31</string>
		</array>
		<array>
			<string>荷属安的列斯群岛</string>
			<string>NT</string>
			<string>599</string>
		</array>
		<array>
			<string>黑山共和国</string>
			<string>ME</string>
			<string>382</string>
		</array>
		<array>
			<string>洪都拉斯</string>
			<string>HN</string>
			<string>504</string>
		</array>
	</array>
	<array>
		<string>J</string>
		<array>
			<string>吉布提</string>
			<string>DJ</string>
			<string>253</string>
		</array>
		<array>
			<string>吉尔吉斯斯坦</string>
			<string>KG</string>
			<string>996</string>
		</array>
		<array>
			<string>几内亚</string>
			<string>GN</string>
			<string>224</string>
		</array>
		<array>
			<string>几内亚-比绍</string>
			<string>GW</string>
			<string>245</string>
		</array>
		<array>
			<string>加拿大</string>
			<string>CA</string>
			<string>1</string>
		</array>
		<array>
			<string>加纳</string>
			<string>GH</string>
			<string>233</string>
		</array>
		<array>
			<string>加蓬</string>
			<string>GA</string>
			<string>241</string>
		</array>
		<array>
			<string>柬埔寨</string>
			<string>KH</string>
			<string>855</string>
		</array>
		<array>
			<string>捷克共和国</string>
			<string>CZ</string>
			<string>420</string>
		</array>
		<array>
			<string>津巴布韦</string>
			<string>ZW</string>
			<string>263</string>
		</array>
	</array>
	<array>
		<string>K</string>
		<array>
			<string>喀麦隆</string>
			<string>CM</string>
			<string>237</string>
		</array>
		<array>
			<string>卡塔尔</string>
			<string>QA</string>
			<string>974</string>
		</array>
		<array>
			<string>开曼群岛</string>
			<string>KY</string>
			<string>1345</string>
		</array>
		<array>
			<string>科摩罗</string>
			<string>KM</string>
			<string>269</string>
		</array>
		<array>
			<string>科特迪瓦</string>
			<string>CI</string>
			<string>225</string>
		</array>
		<array>
			<string>科威特</string>
			<string>KW</string>
			<string>965</string>
		</array>
		<array>
			<string>克罗地亚</string>
			<string>HR</string>
			<string>385</string>
		</array>
		<array>
			<string>肯尼亚</string>
			<string>KE</string>
			<string>254</string>
		</array>
		<array>
			<string>库克群岛</string>
			<string>CK</string>
			<string>682</string>
		</array>
	</array>
	<array>
		<string>L</string>
		<array>
			<string>拉脱维亚</string>
			<string>LV</string>
			<string>371</string>
		</array>
		<array>
			<string>莱索托</string>
			<string>LS</string>
			<string>266</string>
		</array>
		<array>
			<string>老挝</string>
			<string>LA</string>
			<string>856</string>
		</array>
		<array>
			<string>黎巴嫩</string>
			<string>LB</string>
			<string>961</string>
		</array>
		<array>
			<string>立陶宛</string>
			<string>LT</string>
			<string>370</string>
		</array>
		<array>
			<string>利比里亚</string>
			<string>LR</string>
			<string>231</string>
		</array>
		<array>
			<string>利比亚</string>
			<string>LY</string>
			<string>218</string>
		</array>
		<array>
			<string>列支敦士登</string>
			<string>LI</string>
			<string>423</string>
		</array>
		<array>
			<string>留尼汪岛，法国</string>
			<string>RE</string>
			<string>262</string>
		</array>
		<array>
			<string>卢森堡</string>
			<string>LU</string>
			<string>352</string>
		</array>
		<array>
			<string>卢旺达</string>
			<string>RW</string>
			<string>250</string>
		</array>
		<array>
			<string>罗马尼亚</string>
			<string>RO</string>
			<string>40</string>
		</array>
	</array>
	<array>
		<string>M</string>
		<array>
			<string>马达加斯加</string>
			<string>MG</string>
			<string>261</string>
		</array>
		<array>
			<string>马尔代夫</string>
			<string>MV</string>
			<string>960</string>
		</array>
		<array>
			<string>马耳他</string>
			<string>MT</string>
			<string>356</string>
		</array>
		<array>
			<string>马拉维</string>
			<string>MW</string>
			<string>265</string>
		</array>
		<array>
			<string>马来西亚</string>
			<string>MY</string>
			<string>60</string>
		</array>
		<array>
			<string>马里</string>
			<string>ML</string>
			<string>223</string>
		</array>
		<array>
			<string>马其顿</string>
			<string>MK</string>
			<string>389</string>
		</array>
		<array>
			<string>马提尼克</string>
			<string>MQ</string>
			<string>596</string>
		</array>
		<array>
			<string>毛里求斯</string>
			<string>MU</string>
			<string>230</string>
		</array>
		<array>
			<string>毛里塔尼亚</string>
			<string>MR</string>
			<string>222</string>
		</array>
		<array>
			<string>美国</string>
			<string>US</string>
			<string>1</string>
		</array>
		<array>
			<string>蒙古</string>
			<string>MN</string>
			<string>976</string>
		</array>
		<array>
			<string>蒙特塞拉特岛</string>
			<string>NS</string>
			<string>1664</string>
		</array>
		<array>
			<string>孟加拉国</string>
			<string>BD</string>
			<string>880</string>
		</array>
		<array>
			<string>秘鲁</string>
			<string>PE</string>
			<string>51</string>
		</array>
		<array>
			<string>摩尔多瓦</string>
			<string>MD</string>
			<string>373</string>
		</array>
		<array>
			<string>摩洛哥</string>
			<string>MA</string>
			<string>212</string>
		</array>
		<array>
			<string>摩纳哥</string>
			<string>MC</string>
			<string>377</string>
		</array>
		<array>
			<string>莫桑比克</string>
			<string>MZ</string>
			<string>258</string>
		</array>
		<array>
			<string>墨西哥</string>
			<string>MX</string>
			<string>52</string>
		</array>
	</array>
	<array>
		<string>N</string>
		<array>
			<string>纳米比亚</string>
			<string>NA</string>
			<string>264</string>
		</array>
		<array>
			<string>南非</string>
			<string>ZA</string>
			<string>27</string>
		</array>
		<array>
			<string>南苏丹</string>
			<string>SS</string>
			<string>211</string>
		</array>
		<array>
			<string>尼泊尔</string>
			<string>NI</string>
			<string>977</string>
		</array>
		<array>
			<string>尼加拉瓜</string>
			<string>NP</string>
			<string>505</string>
		</array>
		<array>
			<string>尼日尔</string>
			<string>NE</string>
			<string>227</string>
		</array>
		<array>
			<string>尼日利亚</string>
			<string>NG</string>
			<string>234</string>
		</array>
		<array>
			<string>挪威</string>
			<string>NO</string>
			<string>47</string>
		</array>
	</array>
	<array>
		<string>P</string>
		<array>
			<string>葡萄牙</string>
			<string>PT</string>
			<string>351</string>
		</array>
	</array>
	<array>
		<string>R</string>
		<array>
			<string>日本</string>
			<string>JP</string>
			<string>81</string>
		</array>
		<array>
			<string>瑞典</string>
			<string>SE</string>
			<string>46</string>
		</array>
		<array>
			<string>瑞士</string>
			<string>CH</string>
			<string>41</string>
		</array>
	</array>
	<array>
		<string>T</string>
		<array>
			<string>塔吉克斯坦</string>
			<string>TJ</string>
			<string>992</string>
		</array>
		<array>
			<string>台湾</string>
			<string>TW</string>
			<string>886</string>
		</array>
		<array>
			<string>泰国</string>
			<string>TH</string>
			<string>66</string>
		</array>
		<array>
			<string>坦桑尼亚</string>
			<string>TZ</string>
			<string>255</string>
		</array>
		<array>
			<string>汤加</string>
			<string>TO</string>
			<string>676</string>
		</array>
		<array>
			<string>特克斯和凯科斯群岛</string>
			<string>TC</string>
			<string>1649</string>
		</array>
		<array>
			<string>特立尼达和多巴哥</string>
			<string>TT</string>
			<string>1809</string>
		</array>
		<array>
			<string>突尼斯</string>
			<string>TN</string>
			<string>216</string>
		</array>
		<array>
			<string>土耳其</string>
			<string>TR</string>
			<string>90</string>
		</array>
		<array>
			<string>土库曼斯坦</string>
			<string>TM</string>
			<string>993</string>
		</array>
	</array>
	<array>
		<string>W</string>
		<array>
			<string>瓦努阿图</string>
			<string>VU</string>
			<string>678</string>
		</array>
		<array>
			<string>危地马拉</string>
			<string>GT</string>
			<string>502</string>
		</array>
		<array>
			<string>维尔京群岛英国</string>
			<string>VG</string>
			<string>1340</string>
		</array>
		<array>
			<string>委内瑞拉</string>
			<string>VE</string>
			<string>58</string>
		</array>
		<array>
			<string>文莱</string>
			<string>VN</string>
			<string>673</string>
		</array>
		<array>
			<string>乌干达</string>
			<string>UG</string>
			<string>256</string>
		</array>
		<array>
			<string>乌克兰</string>
			<string>UA</string>
			<string>380</string>
		</array>
		<array>
			<string>乌拉圭</string>
			<string>UY</string>
			<string>598</string>
		</array>
		<array>
			<string>乌兹别克斯坦</string>
			<string>UZ</string>
			<string>998</string>
		</array>
	</array>
	<array>
		<string>X</string>
		<array>
			<string>西班牙</string>
			<string>ES</string>
			<string>34</string>
		</array>
		<array>
			<string>希腊</string>
			<string>GR</string>
			<string>30</string>
		</array>
		<array>
			<string>香港</string>
			<string>HK</string>
			<string>852</string>
		</array>
		<array>
			<string>新加坡</string>
			<string>SG</string>
			<string>65</string>
		</array>
		<array>
			<string>新喀里多尼亚</string>
			<string>NC</string>
			<string>687</string>
		</array>
		<array>
			<string>新西兰</string>
			<string>NZ</string>
			<string>64</string>
		</array>
		<array>
			<string>匈牙利</string>
			<string>HU</string>
			<string>36</string>
		</array>
		<array>
			<string>叙利亚</string>
			<string>SY</string>
			<string>963</string>
		</array>
	</array>
	<array>
		<string>Y</string>
		<array>
			<string>牙买加</string>
			<string>JM</string>
			<string>1876</string>
		</array>
		<array>
			<string>亚美尼亚</string>
			<string>AM</string>
			<string>374</string>
		</array>
		<array>
			<string>也门</string>
			<string>YE</string>
			<string>967</string>
		</array>
		<array>
			<string>伊拉克</string>
			<string>IQ</string>
			<string>964</string>
		</array>
		<array>
			<string>伊朗</string>
			<string>IR</string>
			<string>98</string>
		</array>
		<array>
			<string>以色列</string>
			<string>IL</string>
			<string>972</string>
		</array>
		<array>
			<string>意大利</string>
			<string>IT</string>
			<string>39</string>
		</array>
		<array>
			<string>印度</string>
			<string>IN</string>
			<string>91</string>
		</array>
		<array>
			<string>印度尼西亚</string>
			<string>ID</string>
			<string>62</string>
		</array>
		<array>
			<string>英国</string>
			<string>GB</string>
			<string>44</string>
		</array>
		<array>
			<string>约旦</string>
			<string>JO</string>
			<string>962</string>
		</array>
		<array>
			<string>越南</string>
			<string>VN</string>
			<string>84</string>
		</array>
	</array>
	<array>
		<string>Z</string>
		<array>
			<string>赞比亚</string>
			<string>ZM</string>
			<string>260</string>
		</array>
		<array>
			<string>泽西</string>
			<string>ZE</string>
			<string>44</string>
		</array>
		<array>
			<string>乍得</string>
			<string>TD</string>
			<string>235</string>
		</array>
		<array>
			<string>直布罗陀</string>
			<string>GI</string>
			<string>350</string>
		</array>
		<array>
			<string>智利</string>
			<string>CL</string>
			<string>56</string>
		</array>
		<array>
			<string>中非共和国</string>
			<string>CF</string>
			<string>236</string>
		</array>
		<array>
			<string>中国</string>
			<string>CN</string>
			<string>86</string>
		</array>
	</array>
</array>
</plist>
