<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>A</string>
		<array>
			<string>Afghanistan</string>
			<string>AF</string>
			<string>93</string>
		</array>
		<array>
			<string>Albania</string>
			<string>AL</string>
			<string>355</string>
		</array>
		<array>
			<string>Algeria</string>
			<string>DZ</string>
			<string>213</string>
		</array>
		<array>
			<string>Andorra</string>
			<string>AD</string>
			<string>376</string>
		</array>
		<array>
			<string>Angola</string>
			<string>AO</string>
			<string>244</string>
		</array>
		<array>
			<string>Anguilla</string>
			<string>AI</string>
			<string>1264</string>
		</array>
		<array>
			<string>AntiguaandBarbuda</string>
			<string>AG</string>
			<string>1268</string>
		</array>
		<array>
			<string>Argentina</string>
			<string>AR</string>
			<string>54</string>
		</array>
		<array>
			<string>Armenia</string>
			<string>AM</string>
			<string>374</string>
		</array>
		<array>
			<string>Aruba</string>
			<string>AW</string>
			<string>297</string>
		</array>
		<array>
			<string>Australia</string>
			<string>AU</string>
			<string>61</string>
		</array>
		<array>
			<string>Austria</string>
			<string>AT</string>
			<string>43</string>
		</array>
		<array>
			<string>Azerbaijan</string>
			<string>AZ</string>
			<string>994</string>
		</array>
	</array>
	<array>
		<string>B</string>
		<array>
			<string>Bahamas</string>
			<string>BS</string>
			<string>1242</string>
		</array>
		<array>
			<string>Bahrain</string>
			<string>BH</string>
			<string>973</string>
		</array>
		<array>
			<string>Bangladesh</string>
			<string>BD</string>
			<string>880</string>
		</array>
		<array>
			<string>Barbados</string>
			<string>BB</string>
			<string>1246</string>
		</array>
		<array>
			<string>Belarus</string>
			<string>BY</string>
			<string>375</string>
		</array>
		<array>
			<string>Belgium</string>
			<string>BE</string>
			<string>32</string>
		</array>
		<array>
			<string>Belize</string>
			<string>BZ</string>
			<string>501</string>
		</array>
		<array>
			<string>Benin</string>
			<string>BJ</string>
			<string>229</string>
		</array>
		<array>
			<string>Bermuda</string>
			<string>BM</string>
			<string>1441</string>
		</array>
		<array>
			<string>Bhutan</string>
			<string>BT</string>
			<string>975</string>
		</array>
		<array>
			<string>Bolivia</string>
			<string>BO</string>
			<string>591</string>
		</array>
		<array>
			<string>BosniaandHerzegovina</string>
			<string>BA</string>
			<string>387</string>
		</array>
		<array>
			<string>Botswana</string>
			<string>BW</string>
			<string>267</string>
		</array>
		<array>
			<string>Brazil</string>
			<string>BR</string>
			<string>55</string>
		</array>
		<array>
			<string>Brunei</string>
			<string>BN</string>
			<string>673</string>
		</array>
		<array>
			<string>Bulgaria</string>
			<string>BG</string>
			<string>359</string>
		</array>
		<array>
			<string>BurkinaFaso</string>
			<string>BF</string>
			<string>226</string>
		</array>
		<array>
			<string>Burundi</string>
			<string>BI</string>
			<string>257</string>
		</array>
	</array>
	<array>
		<string>C</string>
		<array>
			<string>Cambodia</string>
			<string>KH</string>
			<string>855</string>
		</array>
		<array>
			<string>Cameroon</string>
			<string>CM</string>
			<string>237</string>
		</array>
		<array>
			<string>Canada</string>
			<string>CA</string>
			<string>1</string>
		</array>
		<array>
			<string>CapeVerde</string>
			<string>CV</string>
			<string>238</string>
		</array>
		<array>
			<string>CaymanIslands</string>
			<string>KY</string>
			<string>1345</string>
		</array>
		<array>
			<string>CentralAfricanRepublic</string>
			<string>CF</string>
			<string>236</string>
		</array>
		<array>
			<string>Chad</string>
			<string>TD</string>
			<string>235</string>
		</array>
		<array>
			<string>Chile</string>
			<string>CL</string>
			<string>56</string>
		</array>
		<array>
			<string>China</string>
			<string>CN</string>
			<string>86</string>
		</array>
		<array>
			<string>Colombia</string>
			<string>CO</string>
			<string>57</string>
		</array>
		<array>
			<string>Comoros</string>
			<string>KM</string>
			<string>269</string>
		</array>
		<array>
			<string>Congo</string>
			<string>CG</string>
			<string>242</string>
		</array>
		<array>
			<string>CongoTheDemocraticRepublic</string>
			<string>CD</string>
			<string>243</string>
		</array>
		<array>
			<string>CookIslands</string>
			<string>CK</string>
			<string>682</string>
		</array>
		<array>
			<string>CostaRica</string>
			<string>CR</string>
			<string>506</string>
		</array>
		<array>
			<string>CoteDivoire</string>
			<string>CI</string>
			<string>225</string>
		</array>
		<array>
			<string>Croatia</string>
			<string>HR</string>
			<string>385</string>
		</array>
		<array>
			<string>Cuba</string>
			<string>CU</string>
			<string>53</string>
		</array>
		<array>
			<string>Cyprus</string>
			<string>CY</string>
			<string>357</string>
		</array>
		<array>
			<string>CzechRepublic</string>
			<string>CZ</string>
			<string>420</string>
		</array>
	</array>
	<array>
		<string>D</string>
		<array>
			<string>Denmark</string>
			<string>DK</string>
			<string>45</string>
		</array>
		<array>
			<string>Djibouti</string>
			<string>DJ</string>
			<string>253</string>
		</array>
		<array>
			<string>Dominica</string>
			<string>DM</string>
			<string>1767</string>
		</array>
		<array>
			<string>DominicanRepublic</string>
			<string>DO</string>
			<string>1890</string>
		</array>
	</array>
	<array>
		<string>E</string>
		<array>
			<string>EastTimor</string>
			<string>TL</string>
			<string>670</string>
		</array>
		<array>
			<string>Ecuador</string>
			<string>EC</string>
			<string>593</string>
		</array>
		<array>
			<string>Egypt</string>
			<string>EG</string>
			<string>20</string>
		</array>
		<array>
			<string>ElSalvador</string>
			<string>SV</string>
			<string>503</string>
		</array>
		<array>
			<string>EquatorialGuinea</string>
			<string>GQ</string>
			<string>240</string>
		</array>
		<array>
			<string>Estonia</string>
			<string>EE</string>
			<string>372</string>
		</array>
		<array>
			<string>Ethiopia</string>
			<string>ET</string>
			<string>251</string>
		</array>
	</array>
	<array>
		<string>F</string>
		<array>
			<string>FaroeIslands</string>
			<string>FO</string>
			<string>298</string>
		</array>
		<array>
			<string>Fiji</string>
			<string>FJ</string>
			<string>679</string>
		</array>
		<array>
			<string>Finland</string>
			<string>FI</string>
			<string>358</string>
		</array>
		<array>
			<string>France</string>
			<string>FR</string>
			<string>33</string>
		</array>
		<array>
			<string>FrenchGuiana</string>
			<string>GF</string>
			<string>594</string>
		</array>
		<array>
			<string>FrenchPolynesia</string>
			<string>PF</string>
			<string>689</string>
		</array>
	</array>
	<array>
		<string>G</string>
		<array>
			<string>Gabon</string>
			<string>GA</string>
			<string>241</string>
		</array>
		<array>
			<string>Gambia</string>
			<string>GM</string>
			<string>220</string>
		</array>
		<array>
			<string>Georgia</string>
			<string>GE</string>
			<string>995</string>
		</array>
		<array>
			<string>Germany</string>
			<string>DE</string>
			<string>49</string>
		</array>
		<array>
			<string>Ghana</string>
			<string>GH</string>
			<string>233</string>
		</array>
		<array>
			<string>Gibraltar</string>
			<string>GI</string>
			<string>350</string>
		</array>
		<array>
			<string>Greece</string>
			<string>GR</string>
			<string>30</string>
		</array>
		<array>
			<string>Greenland</string>
			<string>GL</string>
			<string>299</string>
		</array>
		<array>
			<string>Grenada</string>
			<string>GD</string>
			<string>1809</string>
		</array>
		<array>
			<string>Guadeloupe</string>
			<string>GP</string>
			<string>590</string>
		</array>
		<array>
			<string>Guam</string>
			<string>GU</string>
			<string>671</string>
		</array>
		<array>
			<string>Guatemala</string>
			<string>GT</string>
			<string>502</string>
		</array>
		<array>
			<string>Guinea</string>
			<string>GN</string>
			<string>224</string>
		</array>
		<array>
			<string>Guinea-Bissau</string>
			<string>GW</string>
			<string>245</string>
		</array>
		<array>
			<string>Guyana</string>
			<string>GY</string>
			<string>592</string>
		</array>
	</array>
	<array>
		<string>H</string>
		<array>
			<string>Haiti</string>
			<string>HT</string>
			<string>509</string>
		</array>
		<array>
			<string>Honduras</string>
			<string>HN</string>
			<string>504</string>
		</array>
		<array>
			<string>HongKong</string>
			<string>HK</string>
			<string>852</string>
		</array>
		<array>
			<string>Hungary</string>
			<string>HU</string>
			<string>36</string>
		</array>
	</array>
	<array>
		<string>I</string>
		<array>
			<string>Iceland</string>
			<string>IS</string>
			<string>354</string>
		</array>
		<array>
			<string>India</string>
			<string>IN</string>
			<string>91</string>
		</array>
		<array>
			<string>Indonesia</string>
			<string>ID</string>
			<string>62</string>
		</array>
		<array>
			<string>Iran</string>
			<string>IR</string>
			<string>98</string>
		</array>
		<array>
			<string>Iraq</string>
			<string>IQ</string>
			<string>964</string>
		</array>
		<array>
			<string>Ireland</string>
			<string>IE</string>
			<string>353</string>
		</array>
		<array>
			<string>Israel</string>
			<string>IL</string>
			<string>972</string>
		</array>
		<array>
			<string>Italy</string>
			<string>IT</string>
			<string>39</string>
		</array>
	</array>
	<array>
		<string>J</string>
		<array>
			<string>Jamaica</string>
			<string>JM</string>
			<string>1876</string>
		</array>
		<array>
			<string>Japan</string>
			<string>JP</string>
			<string>81</string>
		</array>
		<array>
			<string>Jersey</string>
			<string>JE</string>
			<string>44</string>
		</array>
		<array>
			<string>Jordan</string>
			<string>JO</string>
			<string>962</string>
		</array>
	</array>
	<array>
		<string>K</string>
		<array>
			<string>Kazakhstan</string>
			<string>KZ</string>
			<string>7</string>
		</array>
		<array>
			<string>Kenya</string>
			<string>KE</string>
			<string>254</string>
		</array>
		<array>
			<string>Kuwait</string>
			<string>KW</string>
			<string>965</string>
		</array>
		<array>
			<string>Korea</string>
			<string>KP</string>
			<string>850</string>
		</array>
		<array>
			<string>Kyrgyzstan</string>
			<string>KG</string>
			<string>996</string>
		</array>
	</array>
	<array>
		<string>L</string>
		<array>
			<string>Laos</string>
			<string>LA</string>
			<string>856</string>
		</array>
		<array>
			<string>Latvia</string>
			<string>LV</string>
			<string>371</string>
		</array>
		<array>
			<string>Lebanon</string>
			<string>LB</string>
			<string>961</string>
		</array>
		<array>
			<string>Lesotho</string>
			<string>LS</string>
			<string>266</string>
		</array>
		<array>
			<string>Liberia</string>
			<string>LR</string>
			<string>231</string>
		</array>
		<array>
			<string>Libya</string>
			<string>LY</string>
			<string>218</string>
		</array>
		<array>
			<string>Liechtenstein</string>
			<string>LI</string>
			<string>423</string>
		</array>
		<array>
			<string>Lithuania</string>
			<string>LT</string>
			<string>370</string>
		</array>
		<array>
			<string>Luxembourg</string>
			<string>LU</string>
			<string>352</string>
		</array>
	</array>
	<array>
		<string>M</string>
		<array>
			<string>Macau</string>
			<string>MO</string>
			<string>853</string>
		</array>
		<array>
			<string>Macedonia</string>
			<string>MK</string>
			<string>389</string>
		</array>
		<array>
			<string>Madagascar</string>
			<string>MG</string>
			<string>261</string>
		</array>
		<array>
			<string>Malawi</string>
			<string>MW</string>
			<string>265</string>
		</array>
		<array>
			<string>Malaysia</string>
			<string>MY</string>
			<string>60</string>
		</array>
		<array>
			<string>Maldives</string>
			<string>MV</string>
			<string>960</string>
		</array>
		<array>
			<string>Mali</string>
			<string>ML</string>
			<string>223</string>
		</array>
		<array>
			<string>Malta</string>
			<string>MT</string>
			<string>356</string>
		</array>
		<array>
			<string>Martinique</string>
			<string>MQ</string>
			<string>596</string>
		</array>
		<array>
			<string>Mauritania</string>
			<string>MR</string>
			<string>222</string>
		</array>
		<array>
			<string>Mauritius</string>
			<string>MU</string>
			<string>230</string>
		</array>
		<array>
			<string>Mexico</string>
			<string>MX</string>
			<string>52</string>
		</array>
		<array>
			<string>Moldova</string>
			<string>MD</string>
			<string>373</string>
		</array>
		<array>
			<string>Monaco</string>
			<string>MC</string>
			<string>377</string>
		</array>
		<array>
			<string>Mongolia</string>
			<string>MN</string>
			<string>976</string>
		</array>
		<array>
			<string>Montenegro</string>
			<string>ME</string>
			<string>382</string>
		</array>
		<array>
			<string>Montserrat</string>
			<string>MS</string>
			<string>1664</string>
		</array>
		<array>
			<string>Morocco</string>
			<string>MA</string>
			<string>212</string>
		</array>
		<array>
			<string>Mozambique</string>
			<string>MZ</string>
			<string>258</string>
		</array>
	</array>
	<array>
		<string>N</string>
		<array>
			<string>Namibia</string>
			<string>NA</string>
			<string>264</string>
		</array>
		<array>
			<string>Nepal</string>
			<string>NP</string>
			<string>977</string>
		</array>
		<array>
			<string>Netherlands</string>
			<string>NL</string>
			<string>31</string>
		</array>
		<array>
			<string>NetherlandsAntilles</string>
			<string>NT</string>
			<string>599</string>
		</array>
		<array>
			<string>NewCaledonia</string>
			<string>NC</string>
			<string>687</string>
		</array>
		<array>
			<string>NewZealand</string>
			<string>NZ</string>
			<string>64</string>
		</array>
		<array>
			<string>Nicaragua</string>
			<string>NI</string>
			<string>505</string>
		</array>
		<array>
			<string>Niger</string>
			<string>NE</string>
			<string>227</string>
		</array>
		<array>
			<string>Nigeria</string>
			<string>NG</string>
			<string>234</string>
		</array>
		<array>
			<string>Norway</string>
			<string>NO</string>
			<string>47</string>
		</array>
	</array>
	<array>
		<string>O</string>
		<array>
			<string>Oman</string>
			<string>OM</string>
			<string>968</string>
		</array>
	</array>
	<array>
		<string>P</string>
		<array>
			<string>Panama</string>
			<string>PA</string>
			<string>507</string>
		</array>
		<array>
			<string>PapuaNewGuinea</string>
			<string>PG</string>
			<string>675</string>
		</array>
		<array>
			<string>Paraguay</string>
			<string>PY</string>
			<string>595</string>
		</array>
		<array>
			<string>Peru</string>
			<string>PE</string>
			<string>51</string>
		</array>
		<array>
			<string>Philippines</string>
			<string>PH</string>
			<string>63</string>
		</array>
		<array>
			<string>Poland</string>
			<string>PL</string>
			<string>48</string>
		</array>
		<array>
			<string>Portugal</string>
			<string>PT</string>
			<string>351</string>
		</array>
		<array>
			<string>PuertoRico</string>
			<string>PR</string>
			<string>1787</string>
		</array>
	</array>
	<array>
		<string>Q</string>
		<array>
			<string>Qatar</string>
			<string>QA</string>
			<string>974</string>
		</array>
	</array>
	<array>
		<string>R</string>
		<array>
			<string>ReunionIsland</string>
			<string>RE</string>
			<string>262</string>
		</array>
		<array>
			<string>Romania</string>
			<string>RO</string>
			<string>40</string>
		</array>
		<array>
			<string>Russia</string>
			<string>RU</string>
			<string>7</string>
		</array>
		<array>
			<string>Rwanda</string>
			<string>RW</string>
			<string>250</string>
		</array>
	</array>
	<array>
		<string>S</string>
		<array>
			<string>SaintKittsandNevis</string>
			<string>KN</string>
			<string>1869</string>
		</array>
		<array>
			<string>SaintLucia</string>
			<string>LC</string>
			<string>1758</string>
		</array>
		<array>
			<string>SaintVincentandTheGrenadines</string>
			<string>VC</string>
			<string>1784</string>
		</array>
		<array>
			<string>Samoa</string>
			<string>WS</string>
			<string>685</string>
		</array>
		<array>
			<string>SanMarino</string>
			<string>SM</string>
			<string>378</string>
		</array>
		<array>
			<string>SaudiArabia</string>
			<string>SA</string>
			<string>966</string>
		</array>
		<array>
			<string>Senegal</string>
			<string>SN</string>
			<string>221</string>
		</array>
		<array>
			<string>Serbia</string>
			<string>RS</string>
			<string>381</string>
		</array>
		<array>
			<string>Seychelles</string>
			<string>SC</string>
			<string>248</string>
		</array>
		<array>
			<string>SierraLeone</string>
			<string>SL</string>
			<string>232</string>
		</array>
		<array>
			<string>Singapore</string>
			<string>SG</string>
			<string>65</string>
		</array>
		<array>
			<string>Slovakia</string>
			<string>SK</string>
			<string>421</string>
		</array>
		<array>
			<string>Slovenia</string>
			<string>SI</string>
			<string>386</string>
		</array>
		<array>
			<string>Somalia</string>
			<string>SO</string>
			<string>252</string>
		</array>
		<array>
			<string>SouthAfrica</string>
			<string>ZA</string>
			<string>27</string>
		</array>
		<array>
			<string>SouthKorea</string>
			<string>KR</string>
			<string>82</string>
		</array>
		<array>
			<string>SouthSudan</string>
			<string>SS</string>
			<string>211</string>
		</array>
		<array>
			<string>Spain</string>
			<string>ES</string>
			<string>34</string>
		</array>
		<array>
			<string>SriLanka</string>
			<string>LK</string>
			<string>94</string>
		</array>
		<array>
			<string>Sudan</string>
			<string>SD</string>
			<string>249</string>
		</array>
		<array>
			<string>Suriname</string>
			<string>SR</string>
			<string>597</string>
		</array>
		<array>
			<string>Swaziland</string>
			<string>SZ</string>
			<string>268</string>
		</array>
		<array>
			<string>Sweden</string>
			<string>SE</string>
			<string>46</string>
		</array>
		<array>
			<string>Switzerland</string>
			<string>CH</string>
			<string>41</string>
		</array>
		<array>
			<string>Syria</string>
			<string>SY</string>
			<string>963</string>
		</array>
	</array>
	<array>
		<string>T</string>
		<array>
			<string>Taiwan</string>
			<string>TW</string>
			<string>886</string>
		</array>
		<array>
			<string>Tajikistan</string>
			<string>TJ</string>
			<string>992</string>
		</array>
		<array>
			<string>Tanzania</string>
			<string>TZ</string>
			<string>255</string>
		</array>
		<array>
			<string>Thailand</string>
			<string>TH</string>
			<string>66</string>
		</array>
		<array>
			<string>Togo</string>
			<string>TG</string>
			<string>228</string>
		</array>
		<array>
			<string>Tonga</string>
			<string>TO</string>
			<string>676</string>
		</array>
		<array>
			<string>TrinidadandTobago</string>
			<string>TT</string>
			<string>1809</string>
		</array>
		<array>
			<string>Tunisia</string>
			<string>TN</string>
			<string>216</string>
		</array>
		<array>
			<string>Turkey</string>
			<string>TR</string>
			<string>90</string>
		</array>
		<array>
			<string>Turkmenistan</string>
			<string>TM</string>
			<string>993</string>
		</array>
		<array>
			<string>TurksandCaicosIslands</string>
			<string>TC</string>
			<string>1649</string>
		</array>
	</array>
	<array>
		<string>U</string>
		<array>
			<string>Uganda</string>
			<string>UG</string>
			<string>256</string>
		</array>
		<array>
			<string>Ukraine</string>
			<string>UA</string>
			<string>380</string>
		</array>
		<array>
			<string>UnitedArabEmirates</string>
			<string>AE</string>
			<string>971</string>
		</array>
		<array>
			<string>UnitedKingdom</string>
			<string>GB</string>
			<string>44</string>
		</array>
		<array>
			<string>UnitedStates</string>
			<string>US</string>
			<string>1</string>
		</array>
		<array>
			<string>Uruguay</string>
			<string>UY</string>
			<string>598</string>
		</array>
		<array>
			<string>Uzbekistan</string>
			<string>UZ</string>
			<string>998</string>
		</array>
	</array>
	<array>
		<string>V</string>
		<array>
			<string>Vanuatu</string>
			<string>VU</string>
			<string>678</string>
		</array>
		<array>
			<string>Venezuela</string>
			<string>VE</string>
			<string>58</string>
		</array>
		<array>
			<string>Vietnam</string>
			<string>VN</string>
			<string>84</string>
		</array>
		<array>
			<string>VirginIslandsBritish</string>
			<string>VG</string>
			<string>1340</string>
		</array>
	</array>
	<array>
		<string>Y</string>
		<array>
			<string>Yemen</string>
			<string>YE</string>
			<string>967</string>
		</array>
	</array>
	<array>
		<string>Z</string>
		<array>
			<string>Zambia</string>
			<string>ZM</string>
			<string>260</string>
		</array>
		<array>
			<string>Zimbabwe</string>
			<string>ZW</string>
			<string>263</string>
		</array>
	</array>
</array>
</plist>
